DISCORD_BOT_TOKEN=
GUILD_ID=
STARTING_COINS=500
HOURLY_COIN_AMOUNT=10
DAILY_COIN_AMOUNT=500
DAILY_COIN_HOUR=3
DAILY_CLAIM_AMOUNT=250
DAILY_CLAIM_COOLDOWN_HOURS=24
XP_PER_COIN=10
MESSAGE_XP=10
MESSAGE_BONUS_EVERY=10
MESSAGE_BONUS_XP=10
VOICE_XP_PER_HOUR=1000
PANEL_REFRESH_MINUTES=5
GAME_COOLDOWN_SECONDS=5
